################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Application.Enterprise.Solution/v16/Server/sqlite3/storage.ide-wal
/.vs/Application.Enterprise.Solution/v16/Server/sqlite3/storage.ide-shm
